* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
  }
  
  .login-page {
    display: flex;
    height: 100vh;

    background-color: #3b3b3b;;
    color: white;

    background-image: url('./wpp.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  
  .welcome-section {
    background-color: #3b3b3b;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .logo {
    width: 300px; 
    height: auto;
    margin-bottom: 20px; 
  } 
  
  .welcome-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .welcome-section p {
    font-size: 20px;
    text-align: center;
  }
  

  
  .login-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  
  .login-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-container {
    margin-bottom: 20px; 
    width: 100%;
    max-width: 400px; 
  }
  
  input {
    width: 100%;
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
  }
  
  .login-btn {
    padding: 15px; 
    background-color: #3b3b3b;;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px; 
    width: 100%;
    max-width: 400px;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }