.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.purchase-form {
  width: 100%;
  max-width: 800px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-section {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}

.form-section-grid {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}

.form-group-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas de largura igual */
  gap: 10px; /* Espaçamento entre os itens */
}

.form-item {
  display: flex;
  flex-direction: column; /* Alinha label e input verticalmente */
}

.form-item label {
  margin-bottom: 5px; /* Espaço entre o label e o input */
}


.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 10px;
}

.form-group-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas de largura igual */
  gap: 10px; /* Espaçamento entre os itens */
  margin-bottom: 20px; /* Espaço entre grupos de produtos, se houver */
}

.form-group-grid label {
  margin-bottom: 5px; /* Espaço entre o label e o input */
}

input[type="text"],
input[type="date"],
input[type="number"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input.errorInput {
  border-color: rgb(255, 72, 72);
}

.descricao-item {
  flex: 2;
  /* Faz a descrição do item mais larga */
}

.form-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  margin-right: 10px;
  padding: 10px 15px;
  background-color: #3b3b3b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="button"] {
  background-color: #dc3545;
}

button:hover {
  opacity: 0.8;
}