/* Fundo da página */
body {
  background-color: #f0f0f0; /* Cinza suave */
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif; /* Fonte limpa e moderna */
}


/* Contêiner do formulário */

.pai-container-form{
  max-width: 900px;
  margin:auto;
  padding: 20px;
}

.form-container {
  max-width: 800px;
  padding: 30px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


/* Título da página */
.containertitle{
  font-size: 14px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #b3b3b35d;
}
.divtitle{
max-width: 1200px;
margin: 0 auto;
padding: 10px 0;
} 

/* Seções do formulário */
.form-section {
  border: none;
  margin-bottom: 20px;
  padding: 0;
}

.form-section legend {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.form-section {
  display: none; 
}

.form-section.active {
  display: block; 
}

/* Grupos de formulário */
.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.form-group label {
  flex: 1 1 100%;
  font-size: 14px;
  color: #555;
}

.form-group input,
.form-group textarea,
.form-group select {
  flex: 1 1 calc(33.333% - 10px); /* Dividido em colunas */
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Foco nos campos */
.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: #2a2770;
  box-shadow: 0 0 4px rgba(42, 39, 112, 0.3);
  outline: none;
}

/* Botões de navegação */
.navigation-buttons button {
  padding: 12px 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.navigation-buttons .prev-button {
  border: 2px solid #4a4a4a;
  margin-top: 30px;
  margin-right: 30px;
  background-color: #fff;
  color: #4a4a4a;
}

.navigation-buttons .next-button {
  margin-top: 30px;
  border: 2px solid #4a4a4a;
  background-color: #4a4a4a;
  color: white;
}

.navigation-buttons button:hover {
  transform: scale(1.05);
}

/* Botões de ações finais */
.button-group button {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button-group .back-button-cadastro{
  margin-top: 20px;
  background-color: #4caf50;
  margin-right: 30px;
  color: white;
}
.ButtonAdd {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-right: 20px;
  background-color: #4caf50;
  color: white;
}

.ButtonAdd:hover {
  transform: scale(1.05);
}
.ButtonCancel {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ad1c1c;
  color: white;
}

.ButtonCancel:hover {
  transform: scale(1.05);
}

.Container-buttons-cadastro{
  display: flex;
  justify-content: right;
  padding: 10px 0;
  border-bottom: 1px solid #b3b3b35d;
}


.button-group .back-button {
  margin-top: 20px;
  background-color: #ad1c1c;
  color: white;
}

.button-group button:hover {
  transform: scale(1.05);
}
