.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d3d3d3;
  position: relative;
  overflow: hidden;
}

.login-card {
  background: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  z-index: 2;
  position: relative;
}

.title-stockmaster{
  font-size: 2.2em;
}

.login-card p {
  font-size: 1.4em;
}
.input-label{
  font-size: 1.1em;
}

.login-card input[type="email"],
.login-card input[type="password"],
.login-card input[type="text"] {
  width: 93%;
  font-size: 1em;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.password-wrapper {
  position: relative;
}

.password-wrapper .toggle-password {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.password-label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.forgot-password {
  text-decoration: none;
  color: #666;
  font-size: 0.9rem;
}

.forgot-password:hover {
  text-decoration: underline;
}


.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.login-btn {
  width: 100%;
  padding: 0.7rem;
  background-color: #888;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.illustration-area {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  max-width: 100%;
  z-index: 1;
  display: flex;
  align-items: flex-end;  
  margin-top: 40px; 

  justify-content: end;
  padding: 1rem;
}

.illustration-area img {
  transform: translateY(150px);
}

